api/node_modules/

api/.env

bankautomat/build/

bankautomat/*.user

bankautomat/RFID_DLL/build/

bankautomat/RFID_DLL/*.user

bankautomat/LOGIN_DLL/build/

bankautomat/LOGIN_DLL/*.user

bankautomat/REST_DLL/build/

bankautomat/REST_DLL/*.user